extends ../layout/layout

block body
  if user
    .col-lg-3
      .list-group
        .list-group-item
          = user.fullName
          | (
          = user.userName
          | )
        .list-group-item
          = user.email
        .list-group-item
          = DH.format(user.dateOfBirth)

      if !UH.isCurrentUser(user)
        .list-group
          .list-group-item
            if UH.following(currentUser, user)
              a.btn.btn-primary.btn-block(href="/user/unfollow/#{user.getUserName()}") Unfollow
            else
              a.btn.btn-primary.btn-block(href="/user/follow/#{user.getUserName()}") Follow
      else
        .list-group
          .list-group-item
            a.btn.btn-primary.btn-block(href="/user/followings") Followings
          .list-group-item
            a.btn.btn-primary.btn-block(href="/user/followers") Followers
    .col-lg-9
      textarea.form-control
      br
      button.btn.btn-primary.pull-right Tweet
      .clearfix
      hr
      .clearfix
        for tweet in user.tweets
          include ../tweet/_tweet
  else
    h3 User not found
