meta(charset='UTF-8')
title Twitter for Zombies
link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/css/theme/paper.min.css')
link(rel='stylesheet', type='text/css', href='/css/bootstrap-datetimepicker.min.css')
link(rel='stylesheet', type='text/css', href='/css/layout.css')
script(src='/js/jquery.js')
script(src='/js/bootstrap.min.js')
script(src='/js/moment.js')
script(src='/js/bootstrap-datetimepicker.min.js')
script(src='/js/datetimepicker.js')
