extends ../layout/layout

block page_title
  h2 Twitter for Zombies

block body
  if currentUser
    .col-lg-3
      .list-group
        .list-group-item
          = currentUser.fullName
          | (
          = currentUser.userName
          | )
        .list-group-item
          = currentUser.email
        .list-group-item
          = DH.format(currentUser.dateOfBirth)
    .col-lg-9
      include  ../tweet/_form
      hr
      .clearfix
        | Following users' tweets will be here
  else
    h4 Who the heck are you?
    h3
      a(href="/user/login") Prove yourself a Zombie!
    h3
      a(href="/user/registration") Become a Zombie!
